.hcs {
  overflow: hidden;
  text-align: center; }

.hcs ul,
.hcs * {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style-type: none; }

.hcs ul {
  margin: 0 -10px; }

@media screen and (min-width: 700px) {
  .hcs li {
    width: 400px;
    height: 300px;
    float: left; }

  .hcs li a {
    width: 400px;
    height: 300px; } }
@media screen and (max-width: 700px) {
  .hcs li {
    width: 300px;
    height: 225px; }

  .hcs li a {
    width: 300px;
    height: 225px; } }
.hcs li {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -webkit-transition: background 0.2s linear;
  -moz-border-radius: 10px;
  -moz-transition: background 0.2s linear;
  border-radius: 10px;
  transition: background 0.2s linear;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000)";
  vertical-align: middle; }

.hcs li a {
  text-align: center;
  vertical-align: middle; }

.hcs li:hover {
  background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)"; }

body {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 auto;
  background-image: url("/prettty/images/bg.png");
  background-repeat: repeat;
  color: #333;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.7rem; }

img {
  max-width: 100%;
  width: auto\9;
  /*iefix*/
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }
