@import "hook";

body {
	padding: 0 auto;
	background-image:url('/images/bg.png');
	background-repeat:repeat;
	color: #333;
	font-size: 1.3rem;
	text-align: left;
	line-height: 1.7rem;
}

/** shots listing **/
#shotsListing { font-size: 1.2em; }

#shotsListing li { 
	 display: block; 
	margin-bottom: 55px; 
}

@media screen and (max-width: 700px) {
	#shotsListing li img { 
		max-width: 200px;
		max-height: 150px;
	   }
	   #shotsListing li {
	   	min-height: 175px;
	   }
}

@media screen and (min-width: 700px) {
	#shotsListing li img { 
	   max-width: 400px; 
	   max-height: 300px;
	   }
	   #shotsListing li {
	   	min-height: 300px
	   }
}

.profpic img{
	margin: 12px 0 12px 0;
	width: 48px;
	height: 48px;
	border-radius: 5px;
	 -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
}

/* Side Navigation */

.like{
	margin: 14px 0 20px 6px;
	padding-bottom: 7px;
	width: 36px;
	height: 36px;
	display: block;
	background: url('/images/Like.png') no-repeat;
	background-size: 36px 36px;
}

.like:hover {
	background-image: url('/images/Liked.png');
}

.like:visited {
	background-image: url('/images/Liked.png');
}

.follow{
	margin: 14px 0 20px 6px;
	padding-bottom: 7px;
	width: 36px;
	height: 36px;
	display: block;
	background: url('/images/Follow.png') no-repeat;
	background-size: 36px 36px;
}

.follow:hover {
	background-image: url('/images/Followed.png');
}

.follow:visited {
	background-image: url('/images/Followed.png');
}

.bucket{
	margin: 14px 0 20px 4px;
	padding-bottom: 7px;
	width: 36px;
	height: 36px;
	display: block;
	background: url('/images/Bucket.png') no-repeat;
	background-size: 36px 36px;
}

.bucket:hover {
	background-image: url('/images/Bucketed.png');
}

.bucket:visited {
	background-image: url('/images/Bucketed.png');
}

.sidebar {
	margin: 0px 12px 0px -30px;
	float: left;
	max-width: 48px;
	width: 48px;
	height: 300px;
}

/* End Side Navigation */

.shots img{
	float: left;
	padding: 12px 12px 12px 12px;
	background: #fff;
	border-radius: 5px;
	 -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2) ;
     box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

.lefter img{
	float: left;
	padding-top: 60px;
}